<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.EvaluationMapper">


    <insert id="makeAnAppointment">
        insert into tb_appointment (name,telephone,idCard,orderDate) values(#{name},#{telephone},#{idCard},#{orderDate})
    </insert>

    <update id="changeReservations">
        update tb_ordersetting set reservations = reservations+1 where orderDate=#{orderDate}
    </update>
    <update id="updateResult">
    </update>
    <delete id="deleteResultByUid">
        delete from tb_result where uid = #{uid}
    </delete>
    <select id="getResultListByUid" resultType="com.example.demo.pojo.Reason">
        select re.* from tb_reason as re ,tb_result as r where r.uid=#{realUid} and re.id=r.reasonid
    </select>


</mapper>
