<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

    <insert id="takeCareOf">
        insert into tb_attention(care,beCaredOf) values (#{caredId},#{beCaredOfId})
    </insert>

    <insert id="toReport">
        insert into tb_report(cid) values (#{realCid})
    </insert>

    <insert id="commitDiary">
        insert into tb_diary(date,weather,mood,content,uid,image,tag,title) values (#{date},#{weather},#{mood},#{content},#{uid},#{image},#{tag},#{title})
    </insert>
    <update id="changeUserForEvaluation">
        update tb_user set newForEvaluation= false where id=#{uid}
    </update>
    <update id="updateDiary">
        update tb_diary set weather=#{weather},mood=#{mood},content=#{content},image=#{image},tag=#{tag},title=#{title} where uid=#{uid} and date=#{date}
    </update>

    <select id="findCareRelationShip" resultType="java.lang.Long">
        select id from tb_attention where care = #{caredId} and beCaredOf=#{beCaredOfId}
    </select>
    <select id="searchUserByNickname" resultType="com.example.demo.pojo.User">
        select * from tb_user where nickname=#{nickname}
    </select>
    <select id="getBeCaredOfUsers" resultType="com.example.demo.pojo.User">
        SELECT u.birthday,u.nickname,u.motto,u.id,u.header_image FROM tb_attention AS a, tb_user AS u WHERE a.care = #{care} AND a.beCaredOf = u.id
    </select>

    <select id="getJournalismList" resultType="com.example.demo.pojo.Journalism">
        select * from tb_journalism
    </select>
    <select id="getDetailsByJid" resultType="com.example.demo.pojo.JournalismDetails">
        select * from tb_journalism_details where jid = #{jid}
    </select>
    <select id="getDiaryListByUid" resultType="com.example.demo.pojo.Diary">
        select * from tb_diary where uid = #{uid} order by date desc
    </select>
    <select id="findDiaryStatus" resultType="java.lang.Integer">
        select count(id) from tb_diary where uid=#{uid} and date=#{date}
    </select>
    <select id="getDiaryListPagination" resultType="com.example.demo.pojo.Diary">
        select * from tb_diary where uid=#{uid}  order by date desc limit #{begin},#{end}
    </select>
    <select id="getAllMeditationCount" resultType="java.lang.Integer">
        select count(*) from tb_meditation
    </select>
    <select id="getMeditationList" resultType="com.example.demo.pojo.Meditation">
        select * from tb_meditation limit #{begin},#{pageSize}
    </select>


</mapper>
